* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background-image: url('images/wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; /* Remove default margin */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.link-group {
    list-style: none;
    display: flex;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.link {
    margin-right: 20px;
}

.link a {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    transition: 0.5s;
}

.link a:hover,
.link.active a {
    opacity: 1;
}

/* Centered Image */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: transparent;
}

.centered-content img {
    max-width: 50%;
    max-height: 5%;
    display: inline-block; /* Ensure the image is treated as an inline block element */
    border-radius: 15%;
}
.centered-content {
    text-align: center; /* Center text horizontally within centered-content */
    max-width: 800px; /* Adjust max-width as needed */
}
/* Right Column (About Me) */
.rightcolumn {
    float: left;
    width: 100%; /* Full width on mobile */
    color:white;
    padding-left: 20px;
}

.card.about-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    background-color: transparent; /* Optional: Remove background color */
}
.about-para {
    text-align: left; /* Reset text alignment for paragraphs */
    margin: 0 auto; /* Center the entire section horizontally */
    max-width: 800px; /* Adjust max-width as needed */
}
.about-btns{
    display: flex;
    margin: 2rem 0;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    color:#fff
}
.btn.btn-pink{
    background: #B721FF;
    color: #fff;
    border-color: #B721FF;
    transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover{
    background: transparent;
    border-color: #fff;
    color: #fff;
}
.btn.btn-white{
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
    background: #B721FF;
    border-color: #B721FF;
    color: #fff;
}

/* Add media queries for responsiveness */
@media (min-width: 768px) {
    /* Adjust styles for tablets and larger screens */
    body {
        font-size: 16px;
    }

    .rightcolumn {
        width: 75%; /* Adjust the width for larger screens */
    }
}

@media (min-width: 1024px) {
    /* Further adjustments for larger screens */
    body {
        font-size: 18px;
    }
}